@import "base/base";

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  margin-top: 2rem;
  font-size: 3rem;
  color: #ffd866;
  text-decoration: none;
}
