.radio-button__wrapper {
  min-width: 12rem;
  margin-top: 1rem;
  position: relative;

  & input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: rgba(#f39669, 0.2);

    transition: background-color 0.2s ease;
  }

  label {
    display: flex;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);

    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;

    // box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    //   0 10px 10px -5px rgba(0, 0, 0, 0.04);
    // backdrop-filter: blur(40px);

    img {
      object-fit: cover;
      height: 1.25rem;
    }

    .radio-button__text {
      color: #f39669;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
