@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

:root {
  --clr-primary: 243, 150, 105;
  --clr-secondary: 255, 216, 102;

  --clr-grey-100: hsl(060, 25%, 98%);
  --clr-grey-200: hsl(000, 01%, 75%);
  --clr-grey-400: hsl(280, 02%, 35%);
  --clr-grey-500: hsl(280, 02%, 25%);
  --clr-grey-700: hsl(285, 05%, 17%);
  --clr-grey-800: hsl(300, 05%, 13%);
  --clr-grey-900: hsl(270, 04%, 10%);

  --clr-fg: var(--clr-grey-100);
  --clr-bg: var(--clr-grey-800);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --border-radius-small: 0.4rem;
  --border-radius-big: 1rem;
}

$bp-small: 25rem;
$bp-medium: 37.5rem;
$bp-large: 60rem;
$bp-largest: 75rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  background-size: cover;
  background-repeat: no-repeat;
}

::selection {
  background-color: var(--clr-secondary);
  color: var(--clr-bg);
}
